.preferences {
    padding: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin: 5px 0;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #7a4ced;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6a42d4;
  }
  