.App {
  text-align: center;
  border: 5px solid #000;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 375px; /* iPhone width */
  height: 667px; /* iPhone height */
  margin: 20px auto;
  background-color: #fff;
  overflow: hidden; /* 枠自体のスクロールを無効にする */
}

.App-content {
  height: 100%;
  overflow-y: scroll; /* 内部コンテンツのスクロールを有効にする */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: #000;
  border-radius: 10px;
}

.App::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: #000;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    border: 5px solid #000;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 375px; /* iPhone width */
    height: 667px; /* iPhone height */
    margin: 20px auto;
    background-color: #fff;
    overflow: hidden; /* 枠自体のスクロールを無効にする */
  }

  .App-content {
    height: 100%;
    overflow-y: scroll; /* 内部コンテンツのスクロールを有効にする */
  }
}