.App {
  text-align: center;
  border: 5px solid #000;
  border-radius: 30px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 375px; /* iPhone width */
  height: 667px; /* iPhone height */
  margin: 20px auto;
  background-color: #fff;
  overflow: hidden; /* 枠自体のスクロールを無効にする */
}

.App-content {
  height: 100%;
  overflow-y: scroll; /* 内部コンテンツのスクロールを有効にする */
  scroll-snap-type: y mandatory; /* スクロールスナップを有効にする */
  -ms-overflow-style: none;  /* IEとEdge用のスクロールバー非表示 */
  scrollbar-width: none;  /* Firefox用のスクロールバー非表示 */
}

.App-content::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera用のスクロールバー非表示 */
}

.App-content > div {
  height: 100%;
  scroll-snap-align: start; /* 各コンテンツをフルスクリーンにする */
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: #000;
  border-radius: 10px;
}

.App::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: #000;
  border-radius: 10px;
}

.title {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  text-align: center;
}