.App {
  text-align: center;
  border: 5px solid #000;
  border-radius: 30px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 375px; /* iPhone width */
  height: 667px; /* iPhone height */
  margin: 20px auto;
  background-color: #fff;
  overflow: hidden; /* 枠自体のスクロールを無効にする */
}

.App-content {
  height: 100%;
  overflow-y: scroll; /* 内部コンテンツのスクロールを有効にする */
  scroll-snap-type: y mandatory; /* スクロールスナップを有効にする */
  -ms-overflow-style: none;  /* IEとEdge用のスクロールバー非表示 */
  scrollbar-width: none;  /* Firefox用のスクロールバー非表示 */
}

.App-content::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera用のスクロールバー非表示 */
}

.App-content > div {
  height: 100%;
  scroll-snap-align: start; /* 各コンテンツをフルスクリーンにする */
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: #000;
  border-radius: 10px;
}

.App::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background-color: #000;
  border-radius: 10px;
}

.result-title {
  position: absolute;
  bottom: 20px; /* 下部に表示 */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  text-align: center;
}

.details-title {
  margin-bottom: 10px;
  color: #333;
  font-size: calc(1em + 0.5vw); /* 文字量に応じてフォントサイズを調整 */
  background-color: rgba(255, 255, 255, 0.8); /* 背景を少し透明にしてシンプルに */
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap; /* 改行を防ぐ */
  overflow: hidden; /* はみ出した部分を隠す */
  text-overflow: ellipsis; /* はみ出した部分を省略記号にする */
}

.details-page {
  text-align: center;
  padding: 20px;
}

.main-image {
  height: 33.33vh; /* 画面の1/3に収まるように設定 */
  overflow: hidden; /* 画像をトリミングするためにオーバーフローを隠す */
  margin-bottom: 20px; /* サムネイルとの間隔を調整 */
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.thumbnail-img {
  width: calc(33.33% - 10px);
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}